---
import ProductCard from "./ProductCard.astro";
const { products } = Astro.props;
import "@styles/collection.css";
---

<section id="collection-1602">
  <div class="cs-container">
    <div class="cs-listing">
      {products.length === 0 && <h1>There is no product to show</h1>}
      {
        products.length >= 1 &&
          products.map((product) => <ProductCard product={product} />)
      }
    </div>
  </div>
</section>
