<dialog id="product-modal" class="product-modal product-modal-wrapper">
  <!-- The handle of this context is automatically set when the dialog is opened -->
  <shopify-context id="product-modal-context" type="product" wait-for-update>
    <template>
      <div class="product-modal__container">
        <div class="product-modal__close-container">
          <button
            class="product-modal__close"
            onclick="getElementById('product-modal').close();">&#10005;</button
          >
        </div>
        <div class="product-modal__content">
          <div class="product-modal__layout">
            <div class="product-modal__media">
              <shopify-media
                max-images="1"
                width="280"
                height="400"
                query="product.selectedOrFirstAvailableVariant.image"
              ></shopify-media>
            </div>
            <div class="product-modal__details">
              <div class="product-modal__header">
                <div>
                  <span class="product-modal__vendor">
                    <shopify-data query="product.vendor"></shopify-data>
                  </span>
                </div>
                <h1 class="product-modal__title">
                  <shopify-data query="product.title"></shopify-data>
                </h1>
                <div class="product-modal__price-container">
                  <shopify-money
                    query="product.selectedOrFirstAvailableVariant.price"
                  ></shopify-money>
                  <shopify-money
                    class="product-modal__compare-price"
                    query="product.selectedOrFirstAvailableVariant.compareAtPrice"
                  ></shopify-money>
                </div>
                <div class="product-modal__description">
                  <span class="product-modal__description-text">
                    <shopify-data query="product.descriptionHtml"
                    ></shopify-data>
                  </span>
                </div>
              </div>
              <shopify-variant-selector></shopify-variant-selector>

              <div class="product-modal__buttons">
                <button
                  class="product-modal__add-button"
                  onclick="getElementById('cart').addLine(event).showModal();getElementById('product-modal').close();"
                  shopify-attr--disabled="!product.selectedOrFirstAvailableVariant.availableForSale"
                >
                  Add to cart
                </button>
                <button
                  class="product-modal__buy-button"
                  onclick="document.querySelector('shopify-store').buyNow(event)"
                  class="product-buy-now__button"
                  shopify-attr--disabled="!product.selectedOrFirstAvailableVariant.availableForSale"
                >
                  Buy now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </shopify-context>
</dialog>

<style>
  /** Product Modal style **/
  .product-modal-wrapper {
    margin-inline: auto;
    margin-block: auto;
  }
  .product-modal {
    border: 0;
    border-radius: 0.75rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 0;
    outline: none;
  }
  @media (max-width: 768px) {
    .product-modal {
      width: 100%;
    }
  }
  .product-modal::backdrop {
    background-color: rgba(156, 163, 175, 0.5);
  }
  .product-modal__container {
    overflow-x: hidden;
    padding: 0;
    position: relative;
  }
  .product-modal__close-container {
    display: grid;
    justify-content: end;
    justify-items: end;
    padding: 2rem;
    position: absolute;
    right: 0;
    z-index: 1;
  }
  .product-modal__close {
    border: 1px solid #cccccc;
    border-radius: 12px;
    cursor: pointer;
    height: 32px;
    width: 32px;
  }
  .product-modal__content {
    background-color: #ffffff;
    border-radius: 0.75rem;
    max-width: 56rem;
    width: 100%;
  }
  .product-modal__layout {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 768px) {
    .product-modal__layout {
      flex-direction: row;
    }
  }
  .product-modal__media {
    align-items: center;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    padding: 1rem;
  }
  .product-modal__media img {
    border-radius: 4px;
    height: 100%;
    width: 100%;
    height: auto;
  }
  .product-modal__details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }
  .product-modal__header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .product-modal__vendor {
    opacity: 0.5;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 0.75rem;
  }
  .product-modal__title {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
  }
  .product-modal__price-container {
    display: flex;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1.25rem;
  }
  .product-modal__compare-price {
    text-decoration: line-through;
    opacity: 0.5;
  }
  .product-modal__buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .product-modal__buttons button {
    font-size: 0.875rem;
    font-weight: 800;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    cursor: pointer;
    border: 2px solid black;
    text-transform: uppercase;
  }
  .product-modal__add-button {
    background-color: #000000;
    color: #ffffff;
    border-radius: 0.75rem;
    padding: 1rem;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
  }
  .product-modal__add-button:hover {
    background: #ffffff;
    color: #000000;
    border: 2px solid black;
  }
  .product-modal__add-button:disabled {
    opacity: 0.3;
  }
  .product-modal__buy-button {
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.75rem;
    padding: 1rem;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
  }
  .product-modal__buy-button:disabled {
    opacity: 0.3;
  }
  .product-modal__buy-button:hover {
    opacity: 0.3;
  }
  .product-modal__description {
    display: flex;
    justify-content: space-between;
  }
  .product-modal__description-text {
    font-weight: 400;
    color: #717171;
    font-size: 0.875rem;
  }
  .product-modal__description-text p {
    margin: 0;
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      .product-modal__content {
        .product-modal__title {
          color: var(--dark);
        }

        .cs-active {
          color: var(--primary);
        }

        .cs-category,
        .cs-was-price {
          opacity: 0.8;
        }

        .cs-item {
          background-color: var(--medium);
          border-color: var(--accent);
        }
      }
    }
  }
</style>
