<button
  class="cart"
  aria-label="click to open cart"
  onclick="document.getElementById('cart').showModal();"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="cart-icon"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><circle cx="8" cy="21" r="1"></circle><circle cx="19" cy="21" r="1"
    ></circle><path
      d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
    ></path></svg
  >
  <span>
    <shopify-context type="cart">
      <template>
        <shopify-data class="quantity" query="cart.totalQuantity"
        ></shopify-data>
      </template>
    </shopify-context>
  </span>
</button>

<style>
  .cart {
    border: none;
    background-color: transparent;
    position: relative;
  }

  .quantity:empty {
    display: none;
  }

  .quantity {
    background-color: red;
    color: #fff;
    position: absolute;
    cursor: pointer;
    bottom: -20%;
    right: -30%;
    border-radius: 1000px;
    padding: 2px;
    font-size: 12px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body.dark-mode {
    .cart-icon {
      /* makes it white */
      filter: brightness(0) saturate(100%) invert(94%) sepia(57%) saturate(0%)
        hue-rotate(194deg) brightness(107%) contrast(100%);
    }

    .quantity {
      color: #fff;
    }
  }
</style>
